DataTransferService_Console/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonMapping" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveDataReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonMapping" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jsonReportMapping" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveDataReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveDataReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>